
#board-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & #board-container {
        background-color: #464642;
        width: 770px;
        height: 770px;
        border-radius: 1.7em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & #board {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(9, 80px);
        grid-template-rows: repeat(9, 80px);
            & .vertical-lines {
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
                & .lines {
                    background-color: blue;
                    position: absolute;
                    width: 100%;
                    height: 4px;
                }
            }
        }
    }
}

#solveButton {
    position: absolute;
    right: 6em;
    border: none;
    font-size: 1.8em;
    width: 200px;
    margin-top: 1em;
    padding: 0.4em;
    border-radius: 0.3em;
    background-color: rgb(216, 112, 147);
    color: #eee;
    &:hover {
        background-color: rgb(219, 59, 113);
    }
}
