#board {
    display: grid;
    width: 720px;
    margin: auto;
    grid-template-columns: repeat(9, 80px);
    grid-template-rows: repeat(9, 80px);
    margin-top: 2em;
}

button {
    border: none;
    font-size: 1.8em;
    width: 200px;
    margin-top: 1.5em;
    padding: 0.4em;
    border-radius: 0.3em;
    background-color: rgb(216, 112, 147);
    color: #eee;
    &:hover {
        background-color: rgb(219, 59, 113);
    }
}
