.cell {
    background-color: #FB5E5E;
    width: 100%;
    color: #eee;
    border: 2px solid #C2BFC1;
    height: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.selected {
    background-color: #464642;
}