#control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .title {
        font-size: 3.4em;
    }
    
    article {
        text-align: left;
        font-size: 1.4em;
        
        & .controls-box {
            background-color: #ccc;
            padding: 1em;
            border-radius: 0.4em;

            & .small-note {
                font-size: 0.7em;
            }
        }

        kbd {
            font-size: 1.5em;
            background-color: #222;
            color: #eee;
            border-radius: 3px;
            padding: 2px 12px 2px 12px;
            border-radius: 8px;
        }

        .kbd-text {
            margin-left: 1em;
        }
        .kbd-text-middle {
            margin-left: 0.3em;
            margin-right: 0.3em;
        }


    }
}